body {
  background-color: rgb(6, 76, 51);
}

#text {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;


}
#button1 {
  border: none;
  padding: 10 10 10 10;
  border-radius: 15px;
  cursor: pointer;
}

#button1:hover {
  opacity: 0.7;
}

#button2 {
  border: none;
  padding: 10 10 10 10;
  border-radius: 15px;
  cursor: pointer;
}

#button2:hover {
  opacity: 0.7;
}

#button3 {
  border: none;
  padding: 10 10 10 10;
  border-radius: 15px;
  cursor: pointer;
}

#button3:hover {
  opacity: 0.7;
}
.hello

.hei









